

/*LogIn*/
body  
{
        margin: 0;  
        padding: 0;  
        background-color:#f7fbfb;  
        font-family: 'Arial';  
}  
.login{  

    position: absolute;
    top:100px;
    left: 639px;  

}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #277582;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #f7fbfb; 
    background-color:#277582; 
}  
span{  
    color: white;  
    font-size: 17px;  
}  
.title{  
    float: right;  
    color: #277582; 

}  